:root {
    /* ---------------font-color-------- */

    --black-color: #000000;
    --white-color: #FFFFFF;
    --blue-color: #203948;

    /* -------------font-size---------- */
    --text-default: 6px;
    --text-sm: 12px;
    --text-md: 14px;
    --text-lg: 16px;
    --text-xl: 20px;
    --text-2xl: 24px;
    --text-2xl-1:32px;
    --text-3xl: 36px;
}

.fc-black-color {
    color: var(--black-color);
}

.bg-black-color {
    background: var(--black-color);
}

.fc-white-color {
    color: var(--white-color);
}

.bg-white-color {
    background: var(--white-color);
}
.bg-blue-color{
background: var(--blue-color);
}
.fs-12 {
    font-size: var(--text-sm);
}

.fs-14 {
    font-size: var(--text-md);
}

.fs-16 {
    font-size: var(--text-lg);
}

.fs-20 {
    font-size: var(--text-xl);
}

.fs-24 {
    font-size: var(--text-2xl);
}

.fs-36 {
    font-size: var(--text-3xl);
}
.fs-32{
    font-size: var(--text-2xl-1);
}
@media(max-width:992px
){
    :root{
        --text-default: 6px;
            --text-sm: 12px;
            --text-md: 14px;
            --text-lg: 16px;
            --text-xl: 18px;
            --text-2xl: 20px;
            --text-2xl-1: 24px;
            --text-3xl: 28px;
        }
    }

        @media(max-width:768px) {
            :root {
                --text-default: 6px;
                --text-sm: 8px;
                --text-md: 10px;
                --text-lg: 11px;
                --text-xl: 14px;
                --text-2xl: 16px;
                --text-2xl-1: 20px;
                --text-3xl: 22px;
            }
        }