@import url(/assets/css/root.css);
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* --------line-height-------- */

.lh-130 {
    line-height: 130%;
}

.lh-202 {
    line-height: 202.4%;
}

.lh-204 {
    line-height: 204.5%;
}

.lh-229 {
    line-height: 229%;
}

.lh-130 {
    line-height: 130%;
}

.fw-400 {
    font-weight: 400;
}

.lh-228 {
    line-height: 228.5%;
}

.font-family {
    font-family: "Press Start 2P", system-ui;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* -----------width---------- */
.max-w-1140 {
    max-width: 1140px;
}

/* -------------hero-section------------- */
.hero-section {
    background-image: url(/assets/images/png/hero-section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.min-vh-100 {
    min-height: 100vh;
}

.pt-30 {
    padding-top: 30px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.mt-71 {
    margin-top: 71px;
}

.flex-column {
    flex-direction: column;
}

.mt-26 {
    margin-top: 26px;
}

.mt-75 {
    margin-top: 75px;
}

.get-start {
    top: 0;
    padding: 16px 39px;
}

.top-153 {
    top: 153px !important;
}

.left-30 {
    left: 30px;
}

.right-30 {
    right: 30px;
}

.top-140 {
    top: 140px !important;
}

.bottom-0 {
    bottom: 0;
}

.pt-199 {
    padding-top: 199px;
}

.pb-43 {
    padding-bottom: 43px;
}

.pt-56 {
    padding-top: 56px;
}

.top-0 {
    top: 0;
}

.max-w-1056 {
    max-width: 1056px;
}

.z-1 {
    z-index: 1;
}

.top-56 {
    top: 56px;
}

.top-148 {
    top: 148px;
}

.nav-img {
    padding: 15px 79px;
}

.gap-12 {
    gap: 12px;
}

.gap-32 {
    gap: 32px;
}

.common-class {
    height: 5px;
    margin-bottom: 5px;
    background-color: black !important;
    transition: all 300ms linear;
    border-radius: 10px;
    z-index: 10;
    display: flex;
}

.menu-lines-1 {
    width: 15px;
}

.menu-lines-2 {
    width: 30px;
}

.menu-lines-3 {
    width: 15px;
    transform: translateX(15px);
}

.cursor-pointer {
    cursor: pointer;
}

.gap-190 {
    gap: 190px;
}

.rotate-42 {
    transform: rotate(42deg);
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.rotate-43 {
    transform: rotate(-43deg);
}

.links:hover {
    color: #E8770E;
}

.button:hover {
    p {
        color: var(--white-color);
    }
}

/* < !-- --------------------PEAK AT THE SUNSET------------- --> */
.section-2 {
    background-image: url(/assets/images/png/bg-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 990px;
}

.pt-17 {
    padding-top: 17px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-102 {
    padding-top: 102px;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.slider-track {
    display: flex;
    width: 200%;
    gap: 33px;
    margin-top: 30px;
}

.slider-track-1 {
    animation: slideLeft 10s linear infinite;
}

.slider-track-2 {
    animation: slideRight 10s linear infinite;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}

.slider-track img {
    width: 12.5%;
    height: auto;
}

.pb-90 {
    padding-bottom: 90px;
}

/* < !-- --------------Community+Funding+Sunset---------- --> */
.top-10 {
    top: -70px !important;
}

.gap-20 {
    gap: 20px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-125 {
    margin-top: 125px;
}

.gap-29 {
    gap: 29px;
}

.pt-6 {
    padding-top: 6px;
}


.max-w-135 {
    max-width: 135px;
}

.fs-6 {
    font-size: 6.52849px !important;
    line-height: 204.5%;
}

/* ---------------PUMPMAP----------------- */
.max-w-699 {
    max-width: 699px;
}

.mt-50 {
    margin-top: 50px;
}

.gap-10 {
    gap: 10px;
}

/* ------------------ */
.mt-183 {
    margin-top: 183px;
}

.card {
    width: 226.55px;
    background: none;
    border-radius: none;
    border: none;
}

.oppicity {
    opacity: 70%;
}

.mt-79 {
    margin-top: 79px;
}

/* ------------------------------FAQ------------------ */
.faq-section {
    background-image: url(/assets/images/png/Vector\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 900px;
}

.pt-141 {
    padding-top: 141px;
}

.mt-46 {
    margin-top: 46px;
}

.max-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.faq-padding {
    padding: 20px 0px 20px 40px;
}

.plus-icon-box {
    width: 41px;
    height: 41px;
    border: none;
    border-radius: 50px;
    background:
        linear-gradient(179.87deg, #E8770E 5.08%, #FCA32B 74.72%);

}

.max-w-1440 {
    max-width: 1440px;
}

.mb-170 {
    margin-bottom: 170px;
}

.gap-111 {
    gap: 111px;
}

/* ------------footer---------------- */
.footer {
    background-image: url(/assets/images/png/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.pt-90 {
    padding-top: 90px;
}

.max-w-425 {
    max-width: 425px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-77 {
    margin-bottom: 77px;
}

.gap-11 {
    gap: 11px;
}

.footer-icon:hover {
    transform: scale(1.1);
    transition: all 500 linear;
}

.silder-md-none {
    display: none;
}

.big-img {
    display: block;
}

.small-img {
    display: none;
}

.max-w-735 {
    max-width: 735px;
}

.accordion {
    --bs-accordion-color: none;
    --bs-accordion-bg: none;
    --bs-accordion-border-width: none;
    --bs-accordion-border-radius: none;
    --bs-accordion-inner-border-radius: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-x: none;
    --bs-accordion-body-padding-y: none;

}

.accordion-button:not(.collapsed) {
    color: none;
    background-color: unset;
    box-shadow: none;
}

.accordion-item {
    margin-bottom: 30px;
}

.accordion-button {
    padding: unset;
}

.top-0 {
    top: 0 !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-10 {
    padding-left: 10px;
}


.accordion {
    --bs-accordion-btn-icon: unset !important;
    --bs-accordion-btn-active-icon: unset !important;
}

.max-w-735 {
    max-width: 735px;
}

.max-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.align-items-center {
    align-items: center !important;
}

.justify-content-center {
    justify-content: center !important;
}

.w-100 {
    width: 100% !important;
}

.pt-141 {
    padding-top: 141 !important;
}

.section-1 {
    padding-left: 10px;
    padding-right: 10px;
}

.pl-40 {
    padding-left: 40px;
}

.pr-50 {
    padding-right: 50px;
}

.max-w-700 {
    max-width: 700px;
}

.start-btn {
    padding: 18px 39px;
}
.slick-dots .slick-active {
    background:#FFFFFF;
    width: 10px;
    height: 10px;
    border-radius: 50px;
        opacity: 30%;
}


.slick-dots li {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: #DDE0E4;
    top: 10px;
}

.slick-dots li button:before {
    opacity: 0 !important;
}
@media(max-width:1199.98px) {
    .nav-bg {
        height: 80px;
    }

    .nav-img {
        padding: 18px 50px;
    }

    .house-img {
        width: 100%;
    }

    .vector {
        display: unset;
    }

    .h-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .section-2 {

        height: 790px;
    }
}

@media(max-width:992.98px) {
    .nav-link {
        display: flex !important;
        flex-direction: column;
        background-color: white !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear !important;
        z-index: 5;
    }

    .show-navbar {
        right: 0 !important;
    }

    .col-reverse {
        flex-direction: column-reverse;
    }

    .pt-199 {
        padding-top: 150px;
    }

    .center-text {
        text-align: center;
    }

    .lg-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gap-190 {
        gap: 0;
    }

    .big-img {
        display: none;
    }

    .small-img {
        display: block;
        width: 100%;
    }

    .max-w-699 {
        max-width: unset;
    }

    .section-1-box {
        height: 300px;
    }

    .heading-img {
        width: 756px;
    }

    .lh-130 {
        line-height: 110%;
    }

    .lh-202 {
        line-height: 180.4%;
    }

    .lh-204 {
        line-height: 180.5%;
    }

    .lh-229 {
        line-height: 109%;
    }

    .lh-130 {
        line-height: 110%;
    }

    .max-w-735 {
        max-width: 100%;
    }


    .lh-228 {
        line-height: 168.5%;
    }

    .pt-102 {
        padding: 60px;
    }

    .mt-125 {
        margin-top: 70px;
    }



    .max-w-1056 {
        max-width: unset;
    }

    .section-2 {

        height: 690px;
    }

    .left-30 {
        left: 0;
    }

    .right-30 {
        right: 0;
    }

    .clouds {
        width: 100px;
    }

    .mt-183 {
        margin-top: 150px;
    }

    .hero-section {
        min-height: 700px !important;
    }

    .button-img {
        width: 200px;
    }

    .get-start {
        top: 0;
        padding: 16px 8px;
    }

    .mt-75,
    .mt-71 {
        margin-top: 50px;
    }
}

@media(max-width:768.99px) {
    .display-md-none {
        display: none;
    }

    .col-md-none {
        display: none !important;
    }

    .silder-md-none {
        display: block;
    }

    .pt-199 {
        padding-top: 100px;
    }

    .my-file.slick-track {
        display: flex;
        gap: 10px;
    }

    .hero-section {
        min-height: 400px !important;
    }

    .section-1-box {
        height: 270px;
    }



    .heading-img {
        width: 256px;
    }

    .logo {
        width: 20px;
    }

    .pt-102 {
        padding: 40px;
    }

    .mt-125 {
        margin-top: 40px;
    }



    .section-2 {

        height: 590px;
    }

    .nav-bg {
        height: 60px;
    }

    .mt-183 {
        margin-top: 100px;
    }

    .faq-section {
        height: 742px;
    }

    .button-img {
        width: 150px;
    }

    .get-start {
        padding: 8px;
    }

    .mt-75,
    .mt-71 {
        margin-top: 30px;
    }

    .accordion-item {
        margin-bottom: 20px;
    }

}

@media(max-width:576.99px) {
    .section-1-box {
        height: 370px;
    }

    .gap-111 {
        gap: 15px;
    }

    .pt-199 {
        padding-top: 20px;
    }

    .max-w-735 {
        height: 50px;
    }

    .section-2 {

        height: 520px;
    }


    .mt-75,
    .mt-71 {
        margin-top: 15px;
    }

    .clouds {
        width: 50px;
    }

    .faq-section {
        height: 642px;
    }

    .cupboard-box {
        padding: 10px;
    }

    .accordion-item {
        margin-bottom: 15px;
    }

    .plus-icon-box {
        svg {
            width: 10px;
        }
    }

    .pl-30 {
        padding-left: 15px !important;
    }
}